.mainContact {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  h2 {
    color: var(--color-yellow);
    font-family: var(--font-oxygen);
    width: 95%;
    margin: 1rem auto;
    font-size: 3rem;
  }
}
.containerMap {
  width: 90%;
  height: 20rem;
  margin: 1rem auto;
  background: url("../../assets/images/gameleiraCity.jpg");
  background-size: cover;
  border-radius: 0.1rem;
}
.listInfo {
  li {
    background-color: var(--secundary-color);
    font-family: var(--font-roboto);
    margin: 1rem 0;
    width: 90%;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    padding: 1rem 0.5rem;
    color: #fff;
  }

  svg {
    margin-right: 1rem;
  }

  a {
    text-decoration: none;
    color: #4ade80;
    font-weight: bold;
  }
}
