.mainAbout {
  height: 100vh;
  width: 100%;
  margin-top: 8rem;
}
.articleInfo {
  margin: 3rem 1.5rem;

  article {
    position: relative;
    top: -10rem;
    z-index: 2;
    background-image: linear-gradient(
      to top,

      var(--main-color),
      rgb(0, 0, 0, 0.8)
    );
    border-radius: 0.5rem;
    color: #fff;
    width: 90%;
    margin: 0 auto;

    ul li {
      font-size: 1.5rem;
      margin: 1.5rem 0;
      font-family: var(--font-roboto);
      padding: 1rem;
      width: 95%;
      border-radius: 5rem;
      border: 1px solid #64748b;
      background-color: #020617;
    }
    ul li svg {
      margin-right: 1rem;
      color: var(--color-yellow);
    }
    ul li:last-child {
      font-size: 1.2rem;
    }
  }
  article p {
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: 0.2rem;
    font-family: var(--font-roboto);
  }
}
.titles {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 1rem;
  h3 {
    color: var(--color-yellow);
    font-family: var(--font-roboto);
    font-size: 5rem;
  }
  h2 {
    font-family: var(--font-oxygen);
    color: rgb(0, 128, 0);
    font-size: 2rem;
    margin-top: -1rem;
  }
}
