.mainHero {
  height: 100vh;
  position: relative;
  top: 10rem;

  @media screen and (min-height: 700px) {
    height: 60rem;
  }
  @media screen and (min-width: 700px) {
    width: 100%;
  }
}
.containerLogo {
  position: relative;
  top: -15rem;
  width: 80%;
  margin: 0 auto;
  z-index: 2;
  img {
    width: 20rem;
    height: 20rem;
    display: flex;
    margin: 0 auto;
    background-color: var(--main-color);
    border-radius: 50%;
  }
}
