.mainHero {
  height: 55rem;
  position: relative;
  top: 10rem;
}
.containerLogo {
  position: relative;
  top: -15rem;
  width: 80%;
  margin: 0 auto;
  z-index: 1;
  img {
    width: 20rem;
    height: 20rem;
    display: flex;
    margin: 0 auto;
    background-color: var(--main-color);
    border-radius: 50%;
  }
}
