.mainButton {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-yellow);
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  z-index: 5;
  svg {
    font-size: 5rem;
  }
}
